~*

*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings
.externalToolBuilders
*.orig
.springBeans
*.iml
*.ipr
*.iws
*.ids
target
log
lib
*.swp
maven-eclipse.xml
HREV*
*.log
*.log.zip
*.FDC
.pmd
.checkstyle
.timestamp.txt
catalog.xml
.metadata
nb-configuration.xml
.idea
bin
out
*.jasper
log.txt
logs
release.properties
.maven
# Oracle SQL Developer Data Modeler #
DDLSelection.local
Diagrams.local
Objects.local
ChangeRequests.local
/useful/sql/export_import_db/*.DMP
/useful/sql/export_import_db/def.sql
/sources/uec-ui-project/UEC-Service/Model/classes
/sources/uec-ui-project/UEC-Service/service/classes

# Jasper Reports
/sources/weblogic-domain/opc-reports/*.csv
/sources/weblogic-domain/opc-reports/*.txt
/sources/weblogic-domain/opc-reports/*.pdf
/sources/weblogic-domain/opc-reports/*.xlsx
/sources/weblogic-domain/opc-reports/*.xls
/sources/weblogic-domain/opc-reports/*.html
